@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&family=Trirong:wght@400;700&display=swap");

/* Video background*/
.anim-background {
  position: fixed;
  top: -80px;
  overflow: hidden;
  width: 100%;
}

.anim-background video {
  min-width: 100%;
  min-height: 100%;
}

.main-menu {
  position: absolute;
  top: 30%;
  /* Make all component of main-menu class centered vertically */
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
  text-align: center;
  z-index: 1;
}

.main-menu .modal-box {
  text-align: left;
}

.main-menu h1 {
  font-family: "Trirong", serif;
  color: black;
}

.main-menu button {
  font-family: "Trirong", serif;
  background-color: beige;
  color: #d66524;
}

.main-menu .logo {
  height: 65px;
}

#main-menu :target {
  display: none;
}

.ban-tho {
  display: none;
  position: fixed;
  top: 160px;
  left: 37%;
  width: 100%;
  height: 100%;
}

.ban-tho .alert {
  position: fixed;
  top: 10px;
  left: 0;
  animation: fade 2s linear;
}

#cong-den-tho {
  height: 440px;
  z-index: 2;
}

#ban-tho {
  z-index: 3;
}

#buddha-pepe {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 35%;
  opacity: 0.45;

  animation: fade 2s linear;
}

#bell-ring {
  display: none;
}

#dragon {
  position: fixed;
  top: 0;
  width: 100%;
  mix-blend-mode: screen;
  background-size: 100%;
  opacity: 45%;
  z-index: 2;
}

#anh-dat-vao {
  height: 90px;
  position: fixed;
  top: 55%;
  right: 48%;
}

#nhang {
  height: 100px;
  position: fixed;
  top: 73%;
  right: 48%;

  animation: fade 1.5s linear;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.45;
  }
}
